workflows/stock-market-agent.json
{
  "name": "Stock Market Agent",
  "nodes": [
    {
      "id": "f1000000-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1160,
        20
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-market-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "stock-market-agent-webhook"
    },
    {
      "id": "f1000000-0002-4000-8000-000000000002",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1160,
        260
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "f1000000-0003-4000-8000-000000000003",
      "name": "Set: Sample Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -920,
        260
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"symbol\": \"AAPL\",\n  \"exchange\": \"NASDAQ\",\n  \"strategy_name\": \"swing-momentum-v1\",\n  \"timeframe\": \"1day\",\n  \"account_equity\": 100000,\n  \"risk_percent_per_trade\": 1,\n  \"stop_loss_percent\": 2,\n  \"take_profit_percent\": 4,\n  \"max_position_size_percent\": 20,\n  \"min_signal_confidence\": 70,\n  \"max_daily_trades\": 3,\n  \"dry_run\": true,\n  \"broker_execution_webhook_url\": \"https://httpbin.org/post\",\n  \"market_data_api_key\": \"\",\n  \"openrouter_api_key\": \"PASTE_YOUR_OPENROUTER_KEY_HERE\",\n  \"openrouter_model\": \"openai/gpt-4o-mini\",\n  \"slack_channel\": \"#trading-alerts\"\n}",
        "options": {}
      }
    },
    {
      "id": "f1000000-0004-4000-8000-000000000004",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -700,
        140
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "f1000000-0005-4000-8000-000000000005",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        140
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "symbol",
              "name": "symbol",
              "value": "={{ ($json.body?.symbol || $json.symbol || 'AAPL').toString().trim().toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "exchange",
              "name": "exchange",
              "value": "={{ ($json.body?.exchange || $json.exchange || 'NASDAQ').toString().trim().toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "strategy_name",
              "name": "strategy_name",
              "value": "={{ $json.body?.strategy_name || $json.strategy_name || 'swing-momentum-v1' }}",
              "type": "string"
            },
            {
              "id": "timeframe",
              "name": "timeframe",
              "value": "={{ $json.body?.timeframe || $json.timeframe || '1day' }}",
              "type": "string"
            },
            {
              "id": "account_equity",
              "name": "account_equity",
              "value": "={{ Number($json.body?.account_equity || $json.account_equity || 100000) }}",
              "type": "number"
            },
            {
              "id": "risk_percent_per_trade",
              "name": "risk_percent_per_trade",
              "value": "={{ Number($json.body?.risk_percent_per_trade || $json.risk_percent_per_trade || 1) }}",
              "type": "number"
            },
            {
              "id": "stop_loss_percent",
              "name": "stop_loss_percent",
              "value": "={{ Number($json.body?.stop_loss_percent || $json.stop_loss_percent || 2) }}",
              "type": "number"
            },
            {
              "id": "take_profit_percent",
              "name": "take_profit_percent",
              "value": "={{ Number($json.body?.take_profit_percent || $json.take_profit_percent || 4) }}",
              "type": "number"
            },
            {
              "id": "max_position_size_percent",
              "name": "max_position_size_percent",
              "value": "={{ Number($json.body?.max_position_size_percent || $json.max_position_size_percent || 20) }}",
              "type": "number"
            },
            {
              "id": "min_signal_confidence",
              "name": "min_signal_confidence",
              "value": "={{ Number($json.body?.min_signal_confidence || $json.min_signal_confidence || 70) }}",
              "type": "number"
            },
            {
              "id": "max_daily_trades",
              "name": "max_daily_trades",
              "value": "={{ Number($json.body?.max_daily_trades || $json.max_daily_trades || 3) }}",
              "type": "number"
            },
            {
              "id": "dry_run",
              "name": "dry_run",
              "value": "={{ Boolean($json.body?.dry_run ?? $json.dry_run ?? true) }}",
              "type": "boolean"
            },
            {
              "id": "broker_execution_webhook_url",
              "name": "broker_execution_webhook_url",
              "value": "={{ ($json.body?.broker_execution_webhook_url || $json.broker_execution_webhook_url || '').toString().trim() }}",
              "type": "string"
            },
            {
              "id": "market_data_api_key",
              "name": "market_data_api_key",
              "value": "={{ ($json.body?.market_data_api_key || $json.market_data_api_key || '').toString().trim() }}",
              "type": "string"
            },
            {
              "id": "openrouter_api_key",
              "name": "openrouter_api_key",
              "value": "={{ ($json.body?.openrouter_api_key || $json.openrouter_api_key || 'PASTE_YOUR_OPENROUTER_KEY_HERE').toString().trim().replace(/^Bearer\\s+/i, '') }}",
              "type": "string"
            },
            {
              "id": "openrouter_model",
              "name": "openrouter_model",
              "value": "={{ $json.body?.openrouter_model || $json.openrouter_model || 'openai/gpt-4o-mini' }}",
              "type": "string"
            },
            {
              "id": "slack_channel",
              "name": "slack_channel",
              "value": "={{ $json.body?.slack_channel || $json.slack_channel || '#trading-alerts' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f1000000-0006-4000-8000-000000000006",
      "name": "Validate Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        140
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst required = ['symbol', 'exchange', 'strategy_name', 'timeframe'];\nfor (const key of required) {\n  if (!String(input[key] || '').trim()) {\n    throw new Error(`Missing required field: ${key}`);\n  }\n}\n\nif (input.risk_percent_per_trade <= 0 || input.risk_percent_per_trade > 5) {\n  throw new Error('risk_percent_per_trade must be between 0 and 5 for production safety.');\n}\n\nif (input.stop_loss_percent <= 0 || input.stop_loss_percent > 10) {\n  throw new Error('stop_loss_percent must be between 0 and 10.');\n}\n\nif (input.min_signal_confidence < 50 || input.min_signal_confidence > 95) {\n  throw new Error('min_signal_confidence must be between 50 and 95.');\n}\n\nif (!input.dry_run && !String(input.broker_execution_webhook_url || '').trim()) {\n  throw new Error('Missing broker_execution_webhook_url while dry_run is false.');\n}\n\nreturn [{\n  json: {\n    ...input,\n    run_id: `run_${Date.now()}_${Math.random().toString(16).slice(2, 8)}`,\n    triggered_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "f1000000-0007-4000-8000-000000000007",
      "name": "Market Data Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        140
      ],
      "parameters": {
        "jsCode": "const cfg = $input.first().json;\n\nconst cleanKey = (key) => String(key || '').trim().replace(/^Bearer\\s+/i, '');\nlet apiKey = cleanKey(cfg.market_data_api_key);\n\nif (!apiKey) {\n  try {\n    const cred = await this.getCredentials('httpHeaderAuth');\n    apiKey = cleanKey(cred.value || cred.headerValue);\n  } catch (e) {\n    // credential not configured on this node\n  }\n}\n\nconst symbol = cfg.symbol;\nlet price = 0;\nlet open = 0;\nlet high = 0;\nlet low = 0;\nlet prevClose = 0;\nlet changePercent = 0;\nlet vendor = '';\nconst sourceErrors = [];\n\nif (apiKey) {\n  try {\n    const quote = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://www.alphavantage.co/query',\n      qs: {\n        function: 'GLOBAL_QUOTE',\n        symbol,\n        apikey: apiKey\n      },\n      json: true,\n      timeout: 30000\n    });\n\n    const q = quote['Global Quote'] || {};\n    price = Number(q['05. price'] || 0);\n    open = Number(q['02. open'] || 0);\n    high = Number(q['03. high'] || 0);\n    low = Number(q['04. low'] || 0);\n    prevClose = Number(q['08. previous close'] || 0);\n    changePercent = Number(String(q['10. change percent'] || '0').replace('%', ''));\n    vendor = 'alpha_vantage';\n  } catch (err) {\n    sourceErrors.push(`alpha_vantage: ${err?.message || 'request_failed'}`);\n  }\n}\n\nif (!price || Number.isNaN(price)) {\n  try {\n    const yahoo = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://query1.finance.yahoo.com/v7/finance/quote',\n      qs: {\n        symbols: symbol\n      },\n      json: true,\n      timeout: 30000\n    });\n\n    const r = yahoo?.quoteResponse?.result?.[0] || {};\n    price = Number(r.regularMarketPrice || 0);\n    open = Number(r.regularMarketOpen || 0);\n    high = Number(r.regularMarketDayHigh || 0);\n    low = Number(r.regularMarketDayLow || 0);\n    prevClose = Number(r.regularMarketPreviousClose || 0);\n    changePercent = Number(r.regularMarketChangePercent || 0);\n    vendor = 'yahoo_finance';\n  } catch (err) {\n    sourceErrors.push(`yahoo_finance: ${err?.message || 'request_failed'}`);\n  }\n}\n\nif (!price || Number.isNaN(price)) {\n  try {\n    const stooqSymbol = `${symbol}.US`;\n    const csv = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://stooq.com/q/l/',\n      qs: {\n        s: stooqSymbol,\n        f: 'sd2t2ohlcv',\n        h: 0,\n        e: 'csv'\n      },\n      json: false,\n      timeout: 30000\n    });\n\n    const text = String(csv || '').trim();\n    const lines = text.split('\\n').map((x) => x.trim()).filter(Boolean);\n    if (lines.length < 2) {\n      throw new Error('empty_csv');\n    }\n\n    const header = lines[0].split(',').map((h) => h.trim().toLowerCase());\n    const cols = lines[1].split(',').map((c) => c.trim());\n    const getByName = (name) => {\n      const idx = header.indexOf(name);\n      return idx >= 0 ? cols[idx] : '';\n    };\n\n    const closeStr = getByName('close');\n    const openStr = getByName('open');\n    const highStr = getByName('high');\n    const lowStr = getByName('low');\n\n    price = Number(closeStr || 0);\n    open = Number(openStr || 0);\n    high = Number(highStr || 0);\n    low = Number(lowStr || 0);\n    prevClose = Number(getByName('prev close') || 0);\n\n    if (!price || Number.isNaN(price)) {\n      throw new Error(`invalid_close_value:${closeStr}`);\n    }\n\n    changePercent = prevClose > 0 ? Number((((price - prevClose) / prevClose) * 100).toFixed(4)) : 0;\n    vendor = 'stooq';\n  } catch (err) {\n    sourceErrors.push(`stooq: ${err?.message || 'request_failed'}`);\n  }\n}\n\nif (!price || Number.isNaN(price)) {\n  throw new Error(`Unable to fetch market data for ${symbol}. Sources failed: ${sourceErrors.join(' | ') || 'no providers available'}`);\n}\n\nreturn [{\n  json: {\n    ...cfg,\n    market_data: {\n      symbol,\n      price,\n      open,\n      high,\n      low,\n      previous_close: prevClose,\n      change_percent: changePercent,\n      collected_at: new Date().toISOString(),\n      vendor,\n      source_fallback_used: vendor !== 'alpha_vantage',\n      source_errors: sourceErrors\n    }\n  }\n}];"
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "Market Data API Key"
        }
      }
    },
    {
      "id": "f1000000-0008-4000-8000-000000000008",
      "name": "AI Analysis Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        140
      ],
      "parameters": {
        "jsCode": "const payload = $input.first().json;\n\nconst cleanKey = (key) => String(key || '').trim().replace(/^Bearer\\s+/i, '');\nlet apiKey = cleanKey(payload.openrouter_api_key);\n\nif (!apiKey) {\n  try {\n    const cred = await this.getCredentials('httpHeaderAuth');\n    apiKey = cleanKey(cred.value || cred.headerValue);\n  } catch (e) {\n    // credential not configured on this node\n  }\n}\n\nif (!apiKey) {\n  throw new Error('Missing openrouter_api_key. Add in payload or attach HTTP Header Auth credential to this node.');\n}\n\nconst model = payload.openrouter_model || 'openai/gpt-4o-mini';\nconst md = payload.market_data;\n\nconst systemPrompt = 'You are a disciplined quant trading assistant. Return only strict JSON with keys: signal, confidence, rationale, key_levels, invalidation, risk_notes. signal must be BUY, SELL, or HOLD.';\nconst userPrompt = `Analyze ${payload.symbol} on ${payload.timeframe}.\\nPrice: ${md.price}\\nOpen: ${md.open}\\nHigh: ${md.high}\\nLow: ${md.low}\\nPrevious Close: ${md.previous_close}\\nChange %: ${md.change_percent}`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://openrouter.ai/api/v1/chat/completions',\n  headers: {\n    Authorization: `Bearer ${apiKey}`,\n    'Content-Type': 'application/json',\n    'X-Title': 'Stock Market Agent'\n  },\n  body: {\n    model,\n    temperature: 0.2,\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  },\n  json: true,\n  timeout: 60000\n});\n\nconst raw = response.choices?.[0]?.message?.content;\nif (!raw) {\n  throw new Error('AI Analysis Agent returned empty content.');\n}\n\nlet analysis;\ntry {\n  analysis = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch {\n  throw new Error('Failed to parse AI analysis JSON.');\n}\n\nreturn [{\n  json: {\n    ...payload,\n    ai_analysis: {\n      ...analysis,\n      model: response.model || model,\n      usage: response.usage || null,\n      analyzed_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpenRouter API"
        }
      }
    },
    {
      "id": "f1000000-0009-4000-8000-000000000009",
      "name": "Signal Validation Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        140
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst analysis = item.ai_analysis || {};\n\nconst validSignals = ['BUY', 'SELL', 'HOLD'];\nconst signal = String(analysis.signal || 'HOLD').toUpperCase();\nconst confidence = Number(analysis.confidence || 0);\n\nif (!validSignals.includes(signal)) {\n  throw new Error(`Invalid signal from AI analysis: ${analysis.signal}`);\n}\n\nconst passes = confidence >= Number(item.min_signal_confidence || 70);\n\nreturn [{\n  json: {\n    ...item,\n    validated_signal: {\n      signal,\n      confidence,\n      passed: passes,\n      reason: passes\n        ? 'Signal confidence meets threshold.'\n        : `Signal confidence ${confidence} is below threshold ${item.min_signal_confidence}.`,\n      validated_at: new Date().toISOString()\n    }\n  }\n}];"
      }
    },
    {
      "id": "f1000000-0010-4000-8000-000000000010",
      "name": "Risk Management Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        140
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst md = item.market_data;\nconst signal = item.validated_signal;\n\nconst price = Number(md.price);\nconst equity = Number(item.account_equity);\nconst riskPct = Number(item.risk_percent_per_trade) / 100;\nconst stopPct = Number(item.stop_loss_percent) / 100;\nconst maxPosPct = Number(item.max_position_size_percent) / 100;\n\nconst riskCapital = equity * riskPct;\nconst stopDistance = price * stopPct;\nconst rawQty = stopDistance > 0 ? Math.floor(riskCapital / stopDistance) : 0;\nconst maxNotional = equity * maxPosPct;\nconst cappedQty = Math.max(0, Math.min(rawQty, Math.floor(maxNotional / price)));\n\nconst takeProfitPrice = price * (1 + Number(item.take_profit_percent) / 100);\nconst stopLossPrice = signal.signal === 'SELL'\n  ? price * (1 + Number(item.stop_loss_percent) / 100)\n  : price * (1 - Number(item.stop_loss_percent) / 100);\n\nreturn [{\n  json: {\n    ...item,\n    risk_plan: {\n      risk_capital: Number(riskCapital.toFixed(2)),\n      quantity: cappedQty,\n      stop_loss_price: Number(stopLossPrice.toFixed(4)),\n      take_profit_price: Number(takeProfitPrice.toFixed(4)),\n      max_notional: Number(maxNotional.toFixed(2)),\n      estimated_notional: Number((cappedQty * price).toFixed(2)),\n      valid: cappedQty > 0,\n      assessed_at: new Date().toISOString()\n    }\n  }\n}];"
      }
    },
    {
      "id": "f1000000-0011-4000-8000-000000000011",
      "name": "Decision Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        140
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst signal = item.validated_signal;\nconst risk = item.risk_plan;\n\nconst isActionableSignal = signal.signal === 'BUY' || signal.signal === 'SELL';\nconst hasBrokerUrl = String(item.broker_execution_webhook_url || '').trim().length > 0;\nconst decision = {\n  action: 'NO_TRADE',\n  execute: false,\n  reason: 'Default safe state.',\n  generated_at: new Date().toISOString()\n};\n\nif (!signal.passed) {\n  decision.reason = signal.reason;\n} else if (!isActionableSignal) {\n  decision.reason = 'Signal is HOLD, no trade action.';\n} else if (!risk.valid) {\n  decision.reason = 'Risk model produced zero quantity.';\n} else if (!item.dry_run && !hasBrokerUrl) {\n  decision.reason = 'Live execution skipped: broker_execution_webhook_url is missing.';\n} else {\n  decision.action = signal.signal;\n  decision.execute = true;\n  decision.reason = 'Signal and risk checks passed.';\n}\n\nreturn [{\n  json: {\n    ...item,\n    decision\n  }\n}];"
      }
    },
    {
      "id": "f1000000-0012-4000-8000-000000000012",
      "name": "Execute Trade?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1220,
        140
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.decision.execute }}",
              "value2": true
            },
            {
              "value1": "={{ !$json.dry_run }}",
              "value2": true
            }
          ],
          "string": [
            {
              "value1": "={{ ($json.broker_execution_webhook_url || '').trim() }}",
              "operation": "notEmpty"
            }
          ]
        },
        "combineOperation": "all"
      }
    },
    {
      "id": "f1000000-0013-4000-8000-000000000013",
      "name": "Execution Layer (Broker Webhook)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        40
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "={{ ($json.broker_execution_webhook_url || '').trim() || 'https://httpbin.org/post' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"run_id\": \"{{$json.run_id}}\",\n  \"symbol\": \"{{$json.symbol}}\",\n  \"action\": \"{{$json.decision.action}}\",\n  \"quantity\": {{$json.risk_plan.quantity}},\n  \"price\": {{$json.market_data.price}},\n  \"stop_loss\": {{$json.risk_plan.stop_loss_price}},\n  \"take_profit\": {{$json.risk_plan.take_profit_price}},\n  \"timeframe\": \"{{$json.timeframe}}\",\n  \"strategy_name\": \"{{$json.strategy_name}}\"\n}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "f1000000-0014-4000-8000-000000000014",
      "name": "Prepare Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        240
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nconst d = item.decision || {};\nconst r = item.risk_plan || {};\nconst m = item.market_data || {};\nconst vs = item.validated_signal || {};\n\nconst mode = item.dry_run ? 'DRY_RUN' : 'LIVE';\nconst text = [\n  `*Stock Market Agent* (${mode})`,\n  `Run ID: ${item.run_id || 'n/a'}`,\n  `Symbol: ${item.symbol || 'n/a'} (${item.exchange || 'n/a'})`,\n  `Action: ${d.action || 'NO_TRADE'} | Execute: ${d.execute ?? false}`,\n  `Confidence: ${vs.confidence ?? 'n/a'}`,\n  `Price: ${m.price ?? 'n/a'}`,\n  `Qty: ${r.quantity ?? 0} | Notional: ${r.estimated_notional ?? 'n/a'}`,\n  `SL: ${r.stop_loss_price ?? 'n/a'} | TP: ${r.take_profit_price ?? 'n/a'}`,\n  `Reason: ${d.reason || 'No decision reason available.'}`\n].join('\\n');\n\nreturn [{\n  json: {\n    ...item,\n    alert_text: text\n  }\n}];"
      }
    },
    {
      "id": "f1000000-0015-4000-8000-000000000015",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_SLACK_API_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { channel: $json.slack_channel || '#trading-alerts', text: $json.alert_text || '' } }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "f1000000-0016-4000-8000-000000000016",
      "name": "Prepare Audit Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        40
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nconst md = item.market_data || {};\nconst vs = item.validated_signal || {};\nconst decision = item.decision || {};\nconst risk = item.risk_plan || {};\nconst ai = item.ai_analysis || {};\n\nreturn [{\n  json: {\n    run_id: item.run_id || null,\n    triggered_at: item.triggered_at || null,\n    symbol: item.symbol || null,\n    exchange: item.exchange || null,\n    strategy_name: item.strategy_name || null,\n    timeframe: item.timeframe || null,\n    price: md.price ?? null,\n    change_percent: md.change_percent ?? null,\n    signal: vs.signal || null,\n    confidence: vs.confidence ?? null,\n    decision_action: decision.action || null,\n    execute: decision.execute ?? false,\n    dry_run: item.dry_run ?? true,\n    quantity: risk.quantity ?? 0,\n    stop_loss_price: risk.stop_loss_price ?? null,\n    take_profit_price: risk.take_profit_price ?? null,\n    estimated_notional: risk.estimated_notional ?? null,\n    reason: decision.reason || 'No decision reason available.',\n    analyzed_at: ai.analyzed_at || null,\n    logged_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "f1000000-0017-4000-8000-000000000017",
      "name": "Create Audit XLSX",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1940,
        40
      ],
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {}
      }
    },
    {
      "id": "f1000000-0018-4000-8000-000000000018",
      "name": "Write Audit File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2180,
        40
      ],
      "parameters": {
        "fileName": "=/files/stock-market-agent-{{$json.symbol}}-latest.xlsx",
        "options": {}
      }
    },
    {
      "id": "f1000000-0019-4000-8000-000000000019",
      "name": "Return Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        240
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nconst decision = item.decision || {};\nconst validatedSignal = item.validated_signal || {};\nconst riskPlan = item.risk_plan || {};\nconst marketData = item.market_data || {};\nconst aiAnalysis = item.ai_analysis || {};\n\nreturn [{\n  json: {\n    success: true,\n    run_id: item.run_id || null,\n    symbol: item.symbol || null,\n    action: decision.action || 'NO_TRADE',\n    execute: decision.execute ?? false,\n    dry_run: item.dry_run ?? true,\n    confidence: validatedSignal.confidence ?? null,\n    quantity: riskPlan.quantity ?? 0,\n    reason: decision.reason || 'No decision reason available.',\n    timestamps: {\n      triggered_at: item.triggered_at || null,\n      market_data_collected_at: marketData.collected_at || null,\n      ai_analyzed_at: aiAnalysis.analyzed_at || null,\n      decision_generated_at: decision.generated_at || null\n    }\n  }\n}];"
      }
    },
    {
      "id": "f1000000-0020-4000-8000-000000000020",
      "name": "Note: Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        -260
      ],
      "parameters": {
        "width": 560,
        "height": 240,
        "content": "## Stock Market Agent (Production Baseline)\n\n- Trigger: Webhook + 15-minute scheduler\n- Market Data: Alpha Vantage (`ALPHA_VANTAGE_API_KEY`)\n- AI Analysis: OpenRouter (`openrouter_api_key` or HTTP Header Auth credential)\n- Execution: set `BROKER_EXECUTION_WEBHOOK_URL` for live routing\n- Alerts: configure Slack credential + `SLACK_ALERT_CHANNEL_ID`\n\nSafety defaults:\n- `dry_run = true`\n- risk per trade capped in validation\n- confidence threshold + risk checks required before execution\n\nRecommended: pair this workflow with a dedicated Error Trigger workflow for on-failure alerts."
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set: Sample Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Sample Config": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Config": {
      "main": [
        [
          {
            "node": "Market Data Collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Data Collector": {
      "main": [
        [
          {
            "node": "AI Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis Agent": {
      "main": [
        [
          {
            "node": "Signal Validation Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signal Validation Engine": {
      "main": [
        [
          {
            "node": "Risk Management Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Management Agent": {
      "main": [
        [
          {
            "node": "Decision Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Engine": {
      "main": [
        [
          {
            "node": "Execute Trade?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Trade?": {
      "main": [
        [
          {
            "node": "Execution Layer (Broker Webhook)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Layer (Broker Webhook)": {
      "main": [
        [
          {
            "node": "Prepare Alert Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Audit Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Alert Message": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Row": {
      "main": [
        [
          {
            "node": "Create Audit XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Audit XLSX": {
      "main": [
        [
          {
            "node": "Write Audit File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "trading"
    },
    {
      "name": "stock-market"
    },
    {
      "name": "ai-agent"
    },
    {
      "name": "production"
    }
  ]
}
